<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i>(92)984651195</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i>tiagobrr17@gmail.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i> Rua Rio Negro 31 A</a></li>
        </ul>
        <ul class="header-links pull-right">
          <li><a href="#"><i class="fa fa-money"></i> BRL</a></li>
          
          <li><a href="#"><i class="fa fa-user-o"></i> Minha Conta</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->
  
    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- LOGO -->
          <div class="col-md-3">
            <div class="header-logo">
              <a routerLink="/" class="logo-ecommerce">
                <img src="../../../assets/images/logo-ecommerce.png" alt="">
              </a>
            </div>
          </div>
          <!-- /LOGO -->
  
          <!-- SEARCH BAR -->
          <div class="col-md-6">
            <div class="header-search">
              <form>
                <select class="input-select">
                  <option value="0">Favoritos</option>
                  <option value="1">Categoria 01</option>
                  <option value="2">Categoria 02</option>
                </select>
                <input class="input" placeholder="Search here">
                <button class="search-btn">Pesquisar</button>
              </form>
            </div>
          </div>
          <!-- /SEARCH BAR -->
  
          <!-- ACCOUNT -->
          <div class="col-md-3 clearfix">
            <div class="header-ctn">
              <!-- Wishlist -->
              <div>
                <a href="#">
                  <i class="fa fa-heart-o"></i>
                  <span>L. Favoritos</span>
                  <div class="qty">0</div>
                </a>
              </div>
              <!-- /Wishlist -->
  
              <!-- Cart -->
              <div class="dropdown" >
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                    <i (click)="mudarOpacity()" class="fa fa-shopping-cart"></i>
                    <span (click)="mudarOpacity()" >Carrinho</span>
                  <div class="qty"></div> 
                  <!-- {{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}} -->
                  </a>
                  <div [ngStyle]="{'opacity': opacity}" class="cart-dropdown" >
                    <div class="cart-list"> 
                      <!-- *ngIf="cartData.data[0].numInCart !== 0" -->
                        <div class="product-widget" >
                          <!-- *ngFor="let c of cartData.data; let i=index" -->
                        <div class="product-img">
                           <img  alt="" width="20px"> 
                         <!-- src="{{c.product?.image}}"-->
                        </div>
                        <div class="product-body">
                           <h3 class="product-name"><a href="#"></a></h3> 
                          <!-- {{c.product?.name}} -->
                           <h4 class="product-price"><span class="qty"></span></h4> 
                          <!-- <h4 class="product-price"><span class="qty">{{c.numInCart}} x </span>{{c.product?.price | currency:'USD'}}</h4> -->
                        </div>
                        <button class="delete" ><i class="fa fa-close"></i></button>
                        <!-- (click)="cartService.DeleteProductFromCart(i)" -->
                      </div>
    
    
                    </div>
                    <div class="cart-summary">
                       <small> Item(s) selected</small> 
                      <!-- {{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}} -->
                       <h5>TOTAL : </h5> 
                      <!-- {{cartTotal | currency:'USD'}} -->
                    </div>
                    <div class="cart-btns">
                      <a routerLink="/cart">View Cart</a>
                      <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  
                  </div>
              </div>  
              <!-- /Cart -->
  
              <!-- Menu Toogle -->
              <div class="menu-toggle">
                <a href="#">
                  <i class="fa fa-bars"></i>
                  <span>Menu</span>
                </a>
              </div>
              <!-- /Menu Toogle -->
            </div>
          </div>
          <!-- /ACCOUNT -->
        </div>
        <!-- row -->
       </div> 
      <!-- container -->
     </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->
  
  <!-- NAVIGATION -->
  <nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav py-3">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Contact Us</a></li>
  
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
  <!-- /NAVIGATION -->