<section class="footer">

    <div class="box-container">
  
        <div class="box">
            <h3>address</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ex placeat.</p>
            <div class="share">
                <a href="#" class="fa fa-facebook-f"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>
  
        <div class="box">
            <h3>e-mail</h3>
            <a href="#" class="link">tiagobrr17@gmail.com</a>
            <a href="#" class="link">tiagobrr17@gmail.com</a>
        </div>
  
        <div class="box">
            <h3>call us</h3>
            <p>(92) 98465 1195</p>
            <p>(92) 98465 1195</p>
        </div>
  
        <div class="box">
            <h3>horários</h3>
            <p>Segunda - Domingo : 9:00 - 17:00 <br>    
            </p>
        </div>
  
    </div>
  
    <div class="credit">created by <span>Tiago Souza</span> | all rights reserved!</div>
  
</section>