

<section class="home" id="home">

    <div class="content">
        <h3>Venha orçar materiais na ORÇOU!</h3>
        <p>Queremos ser seu braço direito na hora de orçar seus materiais, auxiliando a encontrar os melhores preços, em um menor tempo!</p>
        <a routerLink="/ecommerce/main" class="btn"> Ir para a Vitrine</a>
    </div>
  
</section>

<section class="about" id="about">

    <h1 class="heading"> Sobre Nós </h1>
  
    <div class="row">
  
        <div class="image">
            <img src="../assets/images/about.webp" alt="">
        </div>
  
        <div class="content">
            <p>Nos somos uma Startup que realiza a ponte entre a dental e o profissional da odontologia, diminuindo o tempo e o esforço necessário para o dentista orçar materiais odontológicos, ao intermediar o orçamento do dentista conseguimos preservar o seu tempo, o permitindo a focar em seu consultório ou em seu tempo livre.</p>
            <a href="#" class="btn">Ler mais</a>
        </div>
  
    </div>
  
  </section>

  <section class="services" id="services">

    <h1 class="heading">Serviços</h1>
  
    <div class="box-container">
  
        <div class="box">
            <img src="../assets/images/services-1.webp" alt="">
            <h3>Serviço 1</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis in excepturi.</p>
        </div>
  
        <div class="box">
            <img src="../assets/images/services-2.webp" alt="">
            <h3>Serviço 2</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis in excepturi.</p>
        </div>
  
        <div class="box">
            <img src="../assets/images/services-3.webp" alt="">
            <h3>Serviço 3</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis in excepturi.</p>
        </div>
  
    </div>
  
</section>

<!-- <section class="pricing" id="pricing">

    <h1 class="heading">Planos</h1>
  
    <div class="box-container">
  
        <div class="box">
            <h3 class="title">Basico</h3>
            <div class="price">
                <span class="currency">R$</span>
                <span class="amount">***</span>
                <span class="duration"> /ano</span>
            </div>
            <ul>
                <li> <i class="fa fa-check"></i> Exemplo 1</li>
                <li> <i class="fa fa-check"></i> Exemplo 2</li>
                <li> <i class="fa fa-check"></i> Exemplo 3</li>
                <li> <i class="fa fa-check"></i> Exemplo 4</li>
            </ul>
            <a href="#" class="btn">Leia mais</a>
        </div>
  
        <div class="box active">
            <h3 class="title">Padrão</h3>
            <div class="price">
                <span class="currency">R$</span>
                <span class="amount">***</span>
                <span class="duration"> /ano</span>
            </div>
            <ul>
                <li> <i id="checkactive" id="checkactive" class="fa fa-check"></i> Exemplo 1</li>
                <li> <i id="checkactive" class="fa fa-check"></i> Exemplo 2</li>
                <li> <i id="checkactive" class="fa fa-check"></i> Exemplo 3</li>
                <li> <i id="checkactive" class="fa fa-check"></i> Exemplo 4</li>
            </ul>
            <button routerLink="/planos/padrao" class="btn">Leia mais</button>
        </div>
  
        <div class="box">
            <h3 class="title">premium</h3>
            <div class="price">
                <span class="currency">R$</span>
                <span class="amount">***</span>
                <span class="duration"> /ano</span>
            </div>
            <ul>
                <li> <i class="fa fa-check"></i> Exemplo 1</li>
                <li> <i class="fa fa-check"></i> Exemplo 2</li>
                <li> <i class="fa fa-check"></i> Exemplo 3</li>
                <li> <i class="fa fa-check"></i> Exemplo 4</li>
            </ul>
            <a href="#" class="btn">Leia mais</a>
        </div>
  
    </div>
  
  </section> -->

  <section class="contact" id="contact">

    <h1 class="heading">Inscreva-se agora, e mude seu jeito de orçar materiais</h1>
  
    <form action="">
  
        <span>Nome: *</span>
        <div class="inputBox">
            <input type="text" placeholder="primeiro nome">
            <input type="text" placeholder="segundo nome">
        </div>
  
        <span>Email: *</span>
        <input type="email" placeholder="digite seu email" class="box">
  
        <span>Número: *</span>
        <input type="number" placeholder="digite seu número" class="box">
  
        <span>CRO: *</span>
        <input type="text" placeholder="digite seu CRO" class="box">
  
        <input type="submit" value="Enviar" class="btn">
  
    </form>
  
  </section>

